:root {
  --bg-color: #ffffff;
  --text-color: #111;
  --accent-color: #ccc;
  --font-main: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Logo fade-in animation for mobile */
.logo {
  opacity: 0; /* Initial state of the logo */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}

@media screen and (max-width: 768px) {
  .logo {
    animation: fadeIn 1s ease-out forwards; /* Apply the fade-in animation on mobile */
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* For larger screens (PC and tablets), no animation */
@media screen and (min-width: 769px) {
  .logo {
    opacity: 1; /* Ensure the logo is visible without animation */
  }
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-left {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.hero-content {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-right: 5%;
  text-align: left;
  z-index: 2;
}

.hero-left-top {
  margin-bottom: 2rem;
}

.hero-left-top h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-left-bottom {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-left-bottom p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero-content h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-content p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 350px;
  margin: 0;
}

.hero-right {
  flex: 1;
  width: 50%;
  overflow: hidden;
  position: relative;
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.splash-logo {
  max-width: 200px;
  height: auto;
}

.top-left-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 9999;
  max-width: 150px;
  height: auto;
}

.book-button {
  padding: 0.8rem 2rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

.scroll-indicator {
  text-align: center;
  margin-top: 2rem;
}

.scroll-indicator a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
}
